<p>This is the start page.</p>

<table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td><button type="submit" class="btn-button-default"></button></td>
            <td><button type="submit" class="btn-button-default"></button></td>
            <td><button type="submit" class="btn-button-default"></button></td>
        </tr>
        <tr>
            <td><button type="submit" class="btn-button-default"></button></td>
            <td><button type="submit" class="btn-button-default"></button></td>
            <td><button type="submit" class="btn-button-default"></button></td>
        </tr>
        <tr>
            <td><button type="submit" class="btn-button-default"></button></td>
            <td><button type="submit" class="btn-button-default"></button></td>
            <td><button type="submit" class="btn-button-default"></button></td>
        </tr>
    </tbody>
</table>