<!DOCTYPE html>
<html>
<head>
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
<h1> Welcome to our Tic Tac Toe game</h1>
<%= yield %>
</body>
</html>